.calendar {
  height: 100%;
  width: 80vw;
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__header,
  &__filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .current {
      display: flex;
      flex-direction: row;

      &__val {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 100px;

    &__day,
    &__titles {
      padding: 5px;
    }

    &__day {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &__titles {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
