.calendar {
  height: 100%;
  width: 80vw;
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__header,
  &__filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .current {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .current__val {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 0;
  }

  &__content,
  &__content-years {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 100px;
  }

  .day {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    height: 100%;
  }

  .day.light {
    opacity: 0.4;
  }

  &__content-titles {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

